.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    & .cube {
      width: 100px;
      height: 100px;
      transform-style: preserve-3d;
      animation: spin 8s infinite linear;
      position: fixed;
      bottom: 100px;
      right: 100px;
      & div {
        position: absolute;
        width: 100px;
        height: 100px;
        opacity: 0.8;
      }
      & .front {
        transform: translateZ(50px);
        background: linear-gradient(45deg, #ff0000, #bdd846);
      }
      & .back {
        transform: translateZ(-50px);
        background: linear-gradient(45deg, #031f33, #46d8d1);
      }
      & .top {
        transform: rotateX(90deg) translateZ(50px);
        background: linear-gradient(45deg, #ff00aa, #4657d8);
      }
      & .bottom {
        transform: rotateX(90deg) translateZ(-50px);
        background: linear-gradient(45deg, #ff0062, #d87446);
      }
      & .left {
        transform: rotateY(90deg) translateZ(50px);
        background: linear-gradient(45deg, #2f00ff, #fffb2c);
      }
      & .right {
        transform: rotateY(90deg) translateZ(-50px);
        background: linear-gradient(45deg, #55ff00, #4661d8);
      }
    }
  }

  .optionsContainer{
    display: none;
    position: absolute;
    top: 40%;
    left: 90%;
    z-index: 1;

    & .cube1 {
      width: 100px;
      height: 100px;
      transform-style: preserve-3d;
      transform:rotateX(348deg) rotateZ(349deg) rotateY(341deg) scaleX(0.7) scaleY(0.7) scaleZ(0.7);
      position: fixed;
      bottom: 300px;
      right: 100px;

      & div {
        position: absolute;
        width: 100px;
        height: 100px;
        opacity: 0.8;
      }
      & .front {
        transform: translateZ(50px);
        background: linear-gradient(45deg, #031f33, #46d8d1);
        display: flex;
        align-items: center;
        justify-content: center;

        & .svg-icon{
          width: auto;
          height: 90px;
        }
      }
      & .back {
        transform: translateZ(-50px);
        background: linear-gradient(45deg, #031f33, #46d8d1);
      }
      & .top {
        transform: rotateX(90deg) translateZ(50px);
        background: linear-gradient(45deg, #031f33, #46d8d1);
      }
      & .bottom {
        transform: rotateX(90deg) translateZ(-50px);
        background: linear-gradient(45deg, #031f33, #46d8d1);
        
      }
      & .left {
        transform: rotateY(90deg) translateZ(50px);
        background: linear-gradient(45deg, #031f33, #46d8d1);

      }
      & .right {
        transform: rotateY(90deg) translateZ(-50px);
        background: linear-gradient(45deg, #031f33, #46d8d1);
        
      }
    }

    & .cube2 {
      width: 100px;
      height: 100px;
      transform-style: preserve-3d;
      transform:rotateX(348deg) rotateZ(349deg) rotateY(341deg) scaleX(0.7) scaleY(0.7) scaleZ(0.7);
      position: fixed;
      bottom: 450px;
      right: 100px;

      & div {
        position: absolute;
        width: 100px;
        height: 100px;
        opacity: 0.8;
      }
      & .front {
        transform: translateZ(50px);
        background: linear-gradient(45deg, #ff0062, #d39cbe);
        display: flex;
        align-items: center;
        justify-content: center;
        
        & .svg-icon{
          width: auto;
          height: 100px;
        }
      }
      & .back {
        transform: translateZ(-50px);
        background: linear-gradient(45deg, #a01a4e, #d39cbe);
      }
      & .top {
        transform: rotateX(90deg) translateZ(50px);
        background: linear-gradient(45deg, #ff0062, #d39cbe);
      }
      & .bottom {
        transform: rotateX(90deg) translateZ(-50px);
        background: linear-gradient(45deg, #ff0062, #d39cbe);
        
      }
      & .left {
        transform: rotateY(90deg) translateZ(50px);
        background: linear-gradient(45deg, #ff0062, #d39cbe);

      }
      & .right {
        transform: rotateY(90deg) translateZ(-50px);
        background: linear-gradient(45deg, #ff0062, #d39cbe);
        
      }
    }

    & .cube3 {
      width: 100px;
      height: 100px;
      transform-style: preserve-3d;
      transform:rotateX(348deg) rotateZ(349deg) rotateY(341deg) scaleX(0.7) scaleY(0.7) scaleZ(0.7);
      position: fixed;
      bottom: 600px;
      right: 100px;

      & div {
        position: absolute;
        width: 100px;
        height: 100px;
        opacity: 0.8;
      }
      & .front {
        transform: translateZ(50px);
        background: linear-gradient(45deg, #2f00ff, #fffb2c);
        display: flex;
        align-items: center;
        justify-content: center;
        
        & .svg-icon{
          width: auto;
          height: 80px;
        }
      }
      & .back {
        transform: translateZ(-50px);
        background: linear-gradient(45deg, #2f00ff, #fffb2c);
      }
      & .top {
        transform: rotateX(90deg) translateZ(50px);
        background: linear-gradient(45deg, #2f00ff, #fffb2c);
      }
      & .bottom {
        transform: rotateX(90deg) translateZ(-50px);
        background: linear-gradient(45deg, #2f00ff, #fffb2c);
        
      }
      & .left {
        transform: rotateY(90deg) translateZ(50px);
        background: linear-gradient(45deg, #2f00ff, #fffb2c);

      }
      & .right {
        transform: rotateY(90deg) translateZ(-50px);
        background: linear-gradient(45deg, #2f00ff, #fffb2c);
        
      }
    }

    & .option:hover{
        transform: scale(1.1);
        opacity: 0.8;
    }
  }
  
  @keyframes spin{
      0%{
          transform: rotateX(0deg) rotateY(0deg);
      }
      100%{
          transform: rotateX(360deg) rotateY(360deg);
      }
  } 